<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twapp"
    android:versionCode="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".control.TwApplication"
        android:allowBackup="true"
        android:icon="@drawable/appluncher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".control.LogoActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.TestActivity"
            android:label="@string/app_name">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".control.UserActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".control.MainActivity"
            android:launchMode="standard"></activity>
        <!--友盟添加-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a54363aa40fa36928000012" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="twapp" />
    </application>

</manifest>